 
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    background: #263238 !important;
    border: none;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    background: #263238 !important;
    border: none;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: white !important;
    background: #263238 !important;
    border: none;
  }